@model ContactPro.Models.Contact

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Contact</h1>
<div class="p-3 border border-2 shadow-lg bg-light">
    <form asp-action="Edit" asp-controller="Contacts" enctype="multipart/form-data"> 
        <div class="row g-3 p-2">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserID"/>
            <input type="hidden" asp-for="Created" />
            <input type ="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ImageType" />


        </div>

    </form>
  
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
